---
import BlogCard from "../components/BlogCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_CONFIG } from "../site-config";
---

<BaseLayout>
  <ul class='flex flex-col gap-5'>
    {
      SITE_CONFIG.timeline.map((experience) => (
        <li>
          <BlogCard
            name={experience.name}
            url={experience.url}
            description={experience.description}
            time={experience.time}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>
