---
import Navigation from "./Navigation.astro";
---

<header class='flex flex-col gap-8'>
  <div>
    <a class='font-bold' href='/'>Hruthik Reddy</a>
    <p>Mostly a Software Engineer.</p>
    <p>Sometimes a Nature Photographer.</p>
  </div>
  <Navigation />
</header>
