---
import "../global.css";

type Props = {
  title?: string | undefined;
  description?: string | undefined;
};

const {
  title = "Frontend Hire: Free Portfolio Template",
  description = "A free template that you can use to build your portfolio in minutes.",
} = Astro.props;
---

<meta charset='UTF-8' />
<meta name='description' property='og:description' content={description} />
<meta name='viewport' content='width=device-width' />
<meta name='generator' content={Astro.generator} />
<link rel='sitemap' href='/sitemap-index.xml' />
<title>{title}</title>

<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
