---
import NavLink from "./NavLink.astro";
import Search from "./Search.astro";
---

<nav class='flex flex-col gap-3'>
  <ul class='flex flex-wrap gap-3'>
    <li><NavLink url='/'>Timeline</NavLink></li>
    <li><NavLink url='/blog'>Blog</NavLink></li>
    <li><NavLink url='/learnings'>Learnings</NavLink></li>
    <li><NavLink url='/contact'>Contact</NavLink></li>
  </ul>
  <Search />
</nav>
