---
import { cn } from "@utils/classnames";

type Props = {
  url: string;
};

const { url } = Astro.props;

const currentPath = Astro.url.pathname;

const isActive =
  currentPath === url || (currentPath.startsWith(url) && url !== "/");
---

<a
  class={cn(
    "font-medium text-secondary decoration-secondary underline-offset-4 transition-all hover:underline dark:text-secondary-dark dark:decoration-secondary-dark",
    isActive ? "underline" : "",
  )}
  href={url}
>
  <slot />
</a>
