---
import { getCollection } from "astro:content";
import ArticleCard from "../../components/ArticleCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getSlug } from "../../utils";

const allLearnings = await getCollection("learnings");

const sortedLearnings = allLearnings
  .filter((learning) => learning.data.isDraft !== true)
  .sort(
    (a, b) =>
      new Date(b.data.publishDate).valueOf() -
      new Date(a.data.publishDate).valueOf(),
  );
---

<BaseLayout>
  <ul class='flex flex-col gap-5'>
    {
      sortedLearnings.map((learning) => {
        const formattedDate = new Date(
          learning.data.publishDate,
        ).toLocaleDateString("en-us", {
          year: "numeric",
          month: "long",
          day: "numeric",
        });

        return (
          <li>
            <ArticleCard
              name={learning.data.title}
              url={`/learnings/${getSlug(learning.data.title)}/`}
              description={learning.data.description}
              time={formattedDate}
            />
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
