@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0deg 0% 0%;
    --color-secondary: 0deg 0% 24%;
    --color-hover: 0deg 0% 97%;
    --foreground: 0deg 0% 0%;
    --background: 0deg 0% 100%;
  }

  .dark {
    --color-hover: 0deg 0% 15%;
    --color-secondary: 255deg 100% 100%;
    --foreground: 0deg 0% 100%;
    --background: 0deg 0% 0%;
  }
}

html {
  scrollbar-gutter: stable;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
