@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-hover: var(--color-hover);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --color-primary: oklch(0% 0 0);
  --color-secondary: oklch(24% 0 0);
  --color-hover: oklch(20% 0 0);
  --foreground: oklch(0% 0 0);
  --background: oklch(100% 0 0);
}

.dark {
  --color-primary: oklch(100% 0 0);
  --color-secondary: oklch(100% 0 0);
  --color-hover: oklch(80% 0 0);
  --foreground: oklch(100% 0 0);
  --background: oklch(8% 0 0);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}
