---
type Props = {
  title: string;
  publishDate: Date;
  description?: string;
};

const { title, publishDate, description = "" } = Astro.props;

const formattedDate = new Date(publishDate).toLocaleDateString("en-us", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<article class='prose'>
  <h1 class='mb-1 text-2xl'>{title}</h1>
  <time class='m-0 text-sm text-secondary'>{formattedDate}</time>
  {description.trim() && <p>{description.trim()}</p>}
  <slot />
</article>
