---
import Header from "@components/Header.astro";
import MainHead from "@components/MainHead.astro";
import ThemeBlockingScript from "@src/scripts/theme-blocking-script.astro";
import { SITE_CONFIG } from "@src/site-config";
import { ClientRouter, slide } from "astro:transitions";

type Props = {
  title?: string | undefined;
  description?: string | undefined;
  canonicalUrl?: string | undefined;
};

const { title, description, canonicalUrl } = Astro.props;
---

<html lang='en'>
  <head>
    <MainHead
      title={title}
      description={description}
      canonicalUrl={canonicalUrl}
    />
    {SITE_CONFIG.enableDarkMode && <ThemeBlockingScript />}
    <ClientRouter fallback='swap' />
  </head>
  <body>
    <div class='mx-auto flex max-w-xl flex-col gap-8 px-4 py-16'>
      <Header />
      <main transition:animate={slide({ duration: 600 })}>
        <slot />
      </main>
    </div>
  </body>
</html>
